button.goback {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: silver;
  cursor: pointer;
}
div.detail {
  text-align: center;
  margin: 50px auto;
}
div.detail p {
  font-size: 27px;
}