table,
table td,
table th {
  border: 1px solid black;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
h1 {
  text-align: center;
}
.product_id:hover {
  cursor: pointer;
  color: blue;
}
.product_title:hover {
  cursor: pointer;
  color: blue;
}

div.buttons button {
  width: 100px;
  height: 80px;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  margin: 20px;
}

div.buttons {
  display: flex;
  justify-content: center;
}
